# {{ ansible_managed }}
[Unit]
Description=Prometheus
After=network.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}"
User={{ prometheus_user }}
Group={{ prometheus_group }}
WorkingDirectory={{ prometheus_dir }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_dir }}/prometheus \
  --config.file={{ prometheus_conf_file }} \
  --storage.tsdb.path={{ prometheus_db_dir }} \
  --storage.tsdb.retention={{ prometheus_storage_retention }}

SyslogIdentifier={{ prometheus_syslog_id }}
Restart=always

[Install]
WantedBy=multi-user.target